#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 20px auto;
  padding: 0;
}

.color-list {
  display: flex;
  flex-direction: "row";
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  width: 720px;
}

.color-item {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .color-list {
    width: 360px;
    gap: 1rem;
    margin-top: 0;
  }

  .color-item {
    width: 100%;
    height: 90px;
  }
}